*{
    margin: 0;
    padding: 0;
}
.container{
   margin-left: 100px;
   margin-right: 100px;
}
body{
    font-family: "Public Sans", sans-serif;
}
.navbar{
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.navbar__s1{
    display: flex;
    align-items: center;
}
.navbar__s1__logo{
    
   
}
.navbar__s1__logo img{
 height: 60px;
    width: 60px;
    
}
.navbar__s2{
    display: flex;
    gap:30px;
}
.navbar__s2 h4:hover{
    
    cursor: pointer;
    background-color: #F2F1EC;
    border-radius: 20px;
} 
.navbar__s2__forums:hover{
    
    background-color: none;
    border-bottom: solid black 2px;
    cursor: pointer;
    
} 
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s3:hover{
    border-radius: 20px;
    cursor: pointer;
    background-color: #F2F1EC;
}
.navbar__s3__myimage{
    margin-left: 20px;
    width:40px;
    height: 40px;
    border-radius:30px ;
}
.subtitle{
    padding-top: 60px;
    font-size: 26px;
    align-items: center;
    text-align: center;
}
.categories{
    margin-top: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;    
}
.categories__1{
    display: flex;
    gap: 5px;
    align-items: center;
    border-bottom: solid black 2px;
}
.categories__1:hover{
    cursor: pointer;
    border-bottom: solid black 2px;
}
.categories__2{
    display: flex;
    gap: 5px;
    align-items: center;
}
.categories__2:hover{
    cursor: pointer;
    border-bottom: solid black 2px;
}
.categories__3{
    display: flex;
    gap: 5px;
    align-items: center;
}
.categories__3:hover{
    cursor: pointer;
    border-bottom: solid black 2px;
}
.categories__4{
    display: flex;
    gap: 5px;
    align-items: center;
}
.categories__4:hover{
    cursor: pointer;
    border-bottom: solid black 2px;
}
.categories__5{
    display: flex;
    gap: 5px;
    align-items: center;
}
.categories__5:hover{
    cursor: pointer;
    border-bottom: solid black 2px;
}
.categories__6{
    display: flex;
    gap: 5px;
    align-items: center;
}
.categories__6:hover{
    cursor: pointer;
    border-bottom: solid black 2px;
}
.searchbar{
    margin-left: 150px;
    margin-top: 30px;
    display: flex;
    border: solid black 1px;
    padding: 10px;
    border-radius: 30px;
    height: 35px;
    width: 73%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}
.searchbar input{

    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
     
}
.searchbar input:focus{
    outline: none;
}
.button{
    background-color:  #34E0A1;
    width: 120px;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 18px;
      
}
.main-image{
    margin-top: 50px;
    
}
.main-image img{
       width: 100%;  
       height: 500px;
       border-radius: 10px;
}
.content{
    margin-top: 70px;
}
.content p{
    padding-top: 20px;
}
.hotels{
    flex-wrap: wrap;
    margin: 10px;
    display: flex;
    gap: 15px;
    margin-top: 30px;
}
.hotels img{
    border-radius: 10px;
    width: 269.5px;
    height: 270px;
}
.content1{
  margin-top: 70px;
}
.content1 p{
  padding-top: 20px;
}
.recommended{
      
   display: flex;
   margin:10px;
  
}
.recommended__container{
  display: flex;
  gap: 15px;
}
.recommended__container h3{
  padding-top: 7px;
}
.recommended__container img{
    margin-top: 20px;
    border-radius: 10px;
     width: 269.5px;
    height: 270px;
    }
     /*dot part 1*/
    .course-card__ratings{
      display: flex;    
      gap: 5px;
      align-items: center;
      font-size: 12px;
    }
  .course-card__dot{
    gap: 2px;
   display: flex;
   
   
  }  
  .course-card__dot__1{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   .course-card__dot__2{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   .course-card__dot__3{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   .course-card__dot__4{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   .course-card__dot__5{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   /*dot part 1 ends here*/
  /*dot part 2*/
 .course-card__ratings1{
      display: flex;    
      gap: 5px;
      align-items: center;
      font-size: 12px;
    }
  .course-card__dotone{
    gap: 2px;
   display: flex;
   
   
  }  
  .course-card__dotone__1{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   .course-card__dotone__2{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   .course-card__dotone__3{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   .course-card__dotone__4{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   .course-card__dotone__5{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }

  /*dot part 2 ends here*/
  /*dot part 3 */
  .course-card__ratings2{
      display: flex;    
      gap: 5px;
      align-items: center;
      font-size: 12px;
    }
  .course-card__dottwo{
    gap: 2px;
   display: flex;
   
   
  }  
  .course-card__dottwo__1{
    border:solid #34E0A1 1px;
    width: 10px;
    height: 10px;
    border-radius: 6px;

  }
   .course-card__dottwo__2{
     border:solid #34E0A1 1px;
    width: 10px;
    height: 10px;
    border-radius: 6px;

  }
   .course-card__dottwo__3{
      border:solid #34E0A1 1px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
 
  }
   .course-card__dottwo__4{
     border:solid #34E0A1 1px;
    width: 10px;
    height: 10px;
    border-radius: 6px;

  }
   .course-card__dottwo__5{
     border:solid #34E0A1 1px;
    width: 10px;
    height: 10px;
    border-radius: 6px;

  }
  /*dot part 4 */
   .course-card__ratings3{
      display: flex;    
      gap: 5px;
      align-items: center;
      font-size: 12px;
    }
  .course-card__dotthree{
    gap: 2px;
   display: flex;
   
   
  }  
  .course-card__dotthree__1{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   .course-card__dotthree__2{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   .course-card__dotthree__3{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   .course-card__dotthree__4{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
   .course-card__dotthree__5{
     background-color:#34E0A1;
    width: 12px;
    height: 12px;
    border-radius: 6px;

  }
  
  /*dot part 4 ends here*/
  
    .container-1{
        justify-content: space-between;
    }
.explore{
    
        margin-top:50px;
        background-color: #e7e7e3;
        justify-content: space-evenly;
        
        
    }
    .explore h2{
      margin-top: 30px;
      margin-bottom: 50px;
    }
   
.explore-image{
    
    align-items: center;
    margin-top: 30px;
    display: flex;
    gap: 20px; 
    justify-content: space-evenly;
    
     
          
    }
    .explore-image img{
        border-radius: 10px;
        width: 350px;
        height: 220px;
        
        
    }
    .explore-image h3{
        margin-top: 20px;
        margin-bottom: 50px;
        
       
    }
    .explore h2{
        margin-left: 70px;
        
        padding-top: 30px;
        
    }
    .container-2{
      margin-left: 100px;
   margin-right: 100px;
    }
    /*Next Trip */
.next-trip__content{
    margin-top: 70px;
}
.next-trip__content p{
    padding-top: 20px;
}
.next-trip__imgcontent{
    flex-wrap: wrap;
    margin: 10px;
    display: flex;
    gap: 15px;
    margin-top: 30px;
}
.next-trip__imgcontent img{
    border-radius: 10px;
    width: 269.5px;
    height: 270px;
}
    /*Next Trip ends here */
    /*Next Holiday*/
.next-holiday__content{
    margin-top: 70px;
}
.next-holiday__content p{
    padding-top: 20px;
}
.next-holiday__imgcontent{
    flex-wrap: wrap;
    margin: 10px;
    display: flex;
    gap: 15px;
    margin-top: 30px;
}
.next-holiday__imgcontent img{
    border-radius: 10px;
    width: 269.5px;
    height: 270px;
}
    /*Next Holiday ends here*/

    /*Learn more*/
   .learnmore{
    margin-top: 70px;
    padding: 25px;
    background-color: #e7e7e3;
    display: flex;
    align-items: center;
    
   }
   
   .learnmore__logo{
    height: 30px;
    width: 30px;
   }
   .learnmore__contentsub{
    justify-content: center;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
   }
   
   .learnmore__contentsub1 h1{
       margin-left: 90px;
       
   }
   .learnmore__contentsub1 p{
    padding-top: 10px;
      margin-left:30px ;
   }
   .learnmore__button{
       background-color: black;
    color: white;
    height: 50px;
    width: 130px;
    border-radius: 40px;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 180px;
    cursor: pointer;
   }
    
    /* ends here*/
    .container-3{
      margin-top: 40px;
      background-color: #e7e7e3;
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
      padding-right: 100px;
      padding-left: 100px;
      padding-bottom: 50px;
    }
    .endcontent__1 p{
       padding: 5px;
    }
.endcontent__2 p{
       padding: 5px;
    }
    .endcontent__3 p{
       padding: 5px;
    }
    .endcontent__4 p{
       padding: 5px;
    }
    .endcontent__1_p1:hover{
      border-bottom: solid black 0.3px;
      cursor: pointer;
       width: fit-content; 
       padding: 0;
    }
     .endcontent__1_p2:hover{
      border-bottom: solid black 0.3px;
      cursor: pointer;
       width: fit-content; 
       padding: 0;
    }
     .endcontent__1_p3:hover{
      border-bottom: solid black 0.3px;
      cursor: pointer;
       width: fit-content; 
       padding: 0;
    }
     .endcontent__1_p4:hover{
      border-bottom: solid black 0.3px;
      cursor: pointer;
       width: fit-content; 
       padding: 0;
    }
     .endcontent__1_p5:hover{
      border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content;
      padding: 0;
    }
     .endcontent__1_p6:hover{
      border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content;
      padding: 0;
    }
     .endcontent__1_p7:hover{
      border-bottom: solid black 0.3px;
      cursor: pointer;
       width: fit-content; 
       padding: 0;
    }
     .endcontent__1_p8:hover{
      border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content; 
      padding: 0;
    }
    .endcontent__2_p1:hover{
       border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content; 
      padding: 0;

    }
    .endcontent__2_p2:hover{
       border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content; 
      padding: 0;

    }
    .endcontent__2_p3:hover{
       border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content; 
      padding: 0;

    }
    .endcontent__2_p4:hover{
       border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content; 
      padding: 0;

    }
    .endcontent__2_p5:hover{
       border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content; 
      padding: 0;

    }
    
    .endcontent__3_p3:hover{  
      border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content; 
      padding: 0;
    }
    .endcontent__3_3:hover{  
      border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content; 
      padding: 0;
    }
    .endcontent__3_p4:hover{  
      border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content; 
      padding: 0;
    }
    .iPhone:hover{
border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content; 
      padding: 0;
    }
    .Android:hover{
border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content; 
      padding: 0;
    }
    .Viator{
      display: flex;
    }
    .viator__P:hover{
      border-bottom: solid black 0.3px;
      cursor: pointer;
      width: fit-content; 
      padding: 0;
    }
    .logos{
      margin-top: 20px;
      gap: 30px;
      display: flex;
      
    }
    
    .entry{
      border: none;
      margin-top: 100px;
      gap: 20px;
      display: flex;
      width: 100px;
      height: 30px;
      border-color: solid black 1px;
      border-radius: 30px;
      
    }
    .end{
      display: flex;
      padding-top: 30px;
      font-size: 12px;
    }
    .end img{
      align-items: center;
      width: 50px;
      height: 50px;
      justify-content: center;
    }